/**
 * @file
 *
 * Custom css.
 */

#smartling_fieldset .lang-name {
  width: 145px;
  display: inline-block;
}

#smartling_fieldset .lang-status {
  padding-left: 20px;
  background-image: url("../img/status-sprite.png");
  background-repeat: no-repeat;
}

#smartling_fieldset .lang-status.in-queue {
  background-position: 0 0;
}

#smartling_fieldset .lang-status.in-translate {
  background-position: 0 -16px;
}

#smartling_fieldset .lang-status.translated {
  background-position: 0 -32px;
}
